@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  @apply text-3xl font-bold mt-14 mb-6;
}

h3 {
  @apply text-xl font-bold mt-8 mb-4;
}

p {
  @apply mt-4 text-white/75 leading-8;
}

ol {
  @apply list-decimal ms-5;
}

ul {
  @apply list-disc ms-5;
}

li > p {
  @apply mt-1;
}
