@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* h2 {
  @apply text-3xl font-bold mt-14 mb-6;
}

h3 {
  @apply text-xl font-bold mt-8 mb-4;
}

p {
  @apply mt-4 text-white/75 leading-8;
}

ol {
  @apply list-decimal ms-5;
}

ul {
  @apply list-disc ms-5;
}

li > p {
  @apply mt-1;
} */

/* .tiptap {
  :first-child {
    margin-top: 0;
  } */

/* List styles */

.tiptap {
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  li {
    @apply list-disc;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 3rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  mark {
    background-color: #faf594;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  /* hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  } */

  ol {
    @apply list-decimal ms-2;
  }

  ul {
    @apply list-disc ms-2;
  }

  /* } */

  p:empty::before {
    content: "";
    display: inline-block;
  }
}

li {
  @apply list-none;
}

/* bg-gradient-to-r from-slate-800 to-gray-700 */
/* bg-gradient-to-b from-white/15 to-[#1E1E24] */
/* bg-gradient-to-b from-[#1C1E22] to-[#070707] */

.app-bg {
  /* @apply bg-[#1E1E24]; */
  @apply bg-black/10 dark:bg-[#111111];
}

.nav-bg {
  /* @apply bg-[#17171c]; */
  @apply bg-[#111111];
}
